<html>

<head>
    <style>
        body{
            background: #1F2937;
        }

        .popup{
            width: 100%;
            height: 100%;
            display: flex;
            position: absolute;
            top: 0;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .popup-content {
            height: 250px;
            width: 500px;
            background: grey;
            padding: 20px;
            border-radius: 10px;
            position: relative;
        }

        #form{
            width: 100%;
            height: 100%;
            margin-top: 20px;
        }

        #form p{
            font-size: 15px;
            font-weight: 30px;
            font-family: sans-serif;
        }

        #task_id{
            border-radius: 5px;
            border: 0;
            font-size: 20px;
            font-weight: 20px;
            font-family: sans-serif;
            text-align: center;
            background: grey;
        }

        #task_date{
            border-radius: 5px;
            border: 0;
            font-size: 20px;
            font-weight: 20px;
            font-family: sans-serif;
            text-align: center;
            background: grey;
        }

        #task{
            padding: 10px;
            border-radius: 5px;
            border: 0;
            font-size: 15px;
            font-weight: 20px;
            font-family: sans-serif;
            text-align: center;
        }

        #submit{
            padding:10px 15px 10px 15px;
            font-size: 15px;
            font-weight: 20px;
            font-family: sans-serif;
            color: #1F2937;
            background: white;
            border: none;
            border-radius: 5px;

        }

        #submit:hover{
            background:#1F2937;
            color: white;
        }


    </style>

</head>

<body>
    <div class="popup" id="popup">
        <div class="popup-content">
            <form id="form" action="save" method="get">

                    <p>Task ID : <input id="task_id" type="text" value=<%= task_id %> name="task_id" readonly></p>
                    <p>Created At : <input id="task_date" type="text" value=<%= task_date %> name="task_date" readonly></p><br>
                    <input  id="task" type="text" placeholder="New Task" name="task" value="<%= task %>" required ><br><br><br>
                    <input id="submit" type="submit"  value="Save" />

            </form>
        </div>
    </div>
</body>

</html>
